.container {
    height: 100vh;
    background-color: black;
}
.container {
    display: flex;
}

.container .content_container {
    margin-left: 4rem;
}

.container .content_container h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: rgb(241, 91, 4);
}

.container .content_container p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: rgb(39, 38, 38);
}

.container .content_container button {
    color: rgb(255, 180, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(231, 142, 83);
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.container .content_container button:hover {
    background-color: #ff8800;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.img_wrapper img {
    width: 80%;
    transform: translate(5%, 10%) rotate(10deg);
    animation: moveBeer 2s infinite alternate ease-in-out;
}

@keyframes moveBeer {
    from {
        transform: translate(-25%, 5%) rotate(-5deg);
    }
}

.highlight {
    position: relative;
}

.highlight::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}
