@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.container {
    height: 100vh;
    background-color: black;
}
.container {
    display: flex;
}

.container .content {
    margin-left: 4rem;
}

.container .content h1 {
    font-size: 6rem;
    font-weight: 50;
    background: -webkit-linear-gradient(rgb(230, 177, 34), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.container .content p {
    font-size: 3rem;
    font-weight: lighter;
    background: -webkit-linear-gradient(rgb(124, 124, 124), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -4rem;
    margin-left: 5rem;
}

.container .content button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(248, 160, 44);
    height: 50px;
    width: 10rem;
    color: rgb(39, 37, 37);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -4rem;
    margin-left: 10rem;
}

.container .content button:hover {
    background-color: #eb9e10;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.img_wrapper img {
    width: 80%;
    transform: translate(5%, 10%) rotate(10deg);
    animation: moveBeer 2s infinite alternate ease-in-out;
}

@keyframes moveBeer {
    from {
        transform: translate(-25%, 5%) rotate(-5deg);
    }
}

@media only screen and (max-width: 900px) {
    .container .content {
        align-items: center;
        margin-top: 2rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .container .content h1 {
        font-size: 3rem;
        font-weight: 50;
        margin-left: 3rem;
    }

    .container .content p {
        font-size: 1.2rem;
        margin-top: -1.5rem;
        margin-left: 3rem;
    }

    .container .content button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        justify-content: center;
        height: 2.5rem;
        width: 6rem;
        font-size: 1rem;
        margin-top: -4rem;
        margin-left: 3rem;
    }
    .img_wrapper img {
        width: 60%;
        transform: translate(5%, 10%) rotate(10deg);
        animation: moveBeer 2s infinite alternate ease-in-out;
        flex-wrap: wrap;
        margin-top: -10rem;
        margin-left: 7rem;
    }

    @keyframes moveBeer {
        from {
            transform: translate(-5%, 10%) rotate(-5deg);
        }
    }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}
