@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.nav {
    width: 100%;
    height: 6.2rem;
    background-color: #000000;
    display: flex;
    flex-direction: row;
}

.nav .nav_left {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5.2rem;
}

.nav .nav_left img {
    height: 3.5rem;
}

.nav .nav_links {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: rgb(250, 205, 142);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 2rem;
    transition: color 1s;
}

.nav a:hover {
    color: rgb(250, 150, 57);
}

.nav .nav_links button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav .nav_links svg {
    font-size: 2.5rem;
    margin-top: 0.3rem;
}

.nav #open {
    padding-left: 0;
}
.nav #open img {
    display: none;
}

.nav #close img {
    display: inherit;
}

.nav #open .hiddenLinks {
    display: inherit;
    margin-left: 2rem;
}

.nav #close .hiddenLinks {
    display: none;
}

.nav #open a {
    width: 4.8rem;
    margin: 5px;
    font-size: 0.8rem;
}
@media only screen and (max-width: 900px) {
    .nav .nav_links a {
        width: 70px;
    }
    .nav .nav_left {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .nav .nav_links a {
        display: none;
    }

    .nav .nav_links {
        justify-content: flex-end;
        padding-right: 50px;
    }

    .nav .nav_links button {
        display: inherit;
    }
}

@media only screen and (min-width: 600px) {
    .nav .nav_links button {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }
}
