.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    width: 100%;
    padding: 0 4rem;
    background-color: black;
}

.nav img {
    margin-top: 1rem;
    height: 4rem;
}

.nav_link {
    font-family: "Poppins" bold, sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(250, 205, 142);
    margin-top: 1rem;
    margin-left: 4rem;
    transition: color 1s;
    z-index: 10;
}

.nav_link:hover {
    color: rgb(250, 124, 6);
}

.nav_links {
    display: flex;
    align-items: center;
    list-style: none;
}

@media only screen and (max-width: 900px) {
    .nav .nav_links a {
        width: 70px;
        display: none;
    }
    .nav img {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .nav .nav_links a {
        display: none;
    }

    .nav .nav_link {
        justify-content: flex-end;
        padding-right: 50px;
    }

    .nav .nav_links button {
        display: inherit;
    }
}

@media only screen and (min-width: 600px) {
    .nav .nav_links button {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }
}
