.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    padding: 0 6rem;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(5px);
}

.nav_logo {
    height: 3.5rem;
}

.nav_link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #5555;
    transition: color 1s;
}

.nav_link:hover {
    color: #000;
}

.nav_links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_item {
    margin-left: 4rem;
}
